importFrom(graphics, abline, curve, grid, points)
importFrom(stats, optim, optimize)
importFrom(Matrix, nearPD)
importFrom(matrixcalc, svd.inverse)
importFrom(numDeriv, jacobian)
importFrom(rootSolve, uniroot.all)
importFrom(quadprog, solve.QP)
export(tpopt)
S3method(print, tpopt)
S3method(summary, tpopt)
S3method(plot, tpopt)
export(KLopt.lnorm)
S3method(print, KLopt.lnorm)
S3method(summary, KLopt.lnorm)
S3method(plot, KLopt.lnorm)