importFrom(Matrix, nearPD)
importFrom(matrixcalc, svd.inverse)
importFrom(numDeriv, jacobian)
importFrom(rootSolve, uniroot.all)
importFrom(quadprog, solve.QP)
export(tpopt)
S3method(print, tpopt)
S3method(summary, tpopt)
S3method(plot, tpopt)
